:root {
  --primary-text-color: #212121;
  --main-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-black-color: #000000;
  --tel-color: #757575;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-black: #2f303a;
  --background-portfolio-nav: #f5f4fa;
  --background-button: #188ce8;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.button {
  font-family: roboto, sans-serif;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ------------------header---------------- */

.header {
  background-color: var(--main-white-color);
}

.logo {
  color: var(--main-blue-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo span {
  color: var(--logo-black-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}

.tel-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--tel-color);
}

.tel:hover,
.tel:focus,
.header-nav:hover,
.header-nav:focus {
  color: var(--main-blue-color);
}

/* ----------first page------------------- */

.hero {
  background-color: var(--background-black);
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--background-button);
}

.features,
.our-works {
  background-color: var(--main-white-color);
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--tel-color);
}

.our-works h2,
.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-team {
  background-color: var(--background-portfolio-nav);
}

.our-team li {
  background-color: var(--main-white-color);
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--tel-color);
}

/* ---------------portfolio--------------- */

.portfolio-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--background-portfolio-nav);
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}

.portfolio {
  background-color: var(--main-white-color);
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tel-color);
}

/* -------------footer----------------- */

.footer {
  background-color: var(--background-black);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-contacts {
  color: var(--footer-address-color);
}

.address-footer {
  color: var(--main-white-color);
}

.footer span {
  color: var(--main-white-color);
}

.address-footer:hover,
.address-footer:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--main-blue-color);
}
